#### IMPORT PACKAGES

In [23]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI
import pyodbc

#### CONNECT TO AZURE SQL DB

In [24]:
# odbc connection string
server = '<server>'
database = '<database>'
username = '<username>'
password = '<password>'
driver = 'ODBC Driver 18 for SQL Server'

In [25]:
# connect python to azure sql db
connectionString = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"

try:
    db = SQLDatabase.from_uri(connectionString)

except pyodbc.Error as e:
    # Handle any errors that occur during the connection
    print(f"Error connecting to Azure SQL Database: {str(e)}")

<langchain.utilities.sql_database.SQLDatabase object at 0x7ffc5589e280>

#### SET OPENAI API KEY

In [26]:
# set API keys to authenticate requests to the API
OPENAI_API_KEY = "<API Key"

#### SET UP AGENT

In [27]:
# create new llm model
llm = ChatOpenAI(
    temperature=0, 
    openai_api_key=OPENAI_API_KEY, 
    model_name='gpt-3.5-turbo')

# toolkit for interacting with sql databases
toolkit = SQLDatabaseToolkit(
    db=db,
    llm=llm)

# initialize agent
agent_executor = create_sql_agent(
     llm=llm,
     toolkit=toolkit,
     verbose=True,
     agent_type=AgentType.OPENAI_FUNCTIONS # what does this do?
    )

#### RUN QUERIES

In [28]:
# query 1
agent_executor.run("how many rows are there?")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


ADMISSIONS, BuildVersion, ErrorLog
Invoking: `sql_db_query` with `SELECT COUNT(*) FROM ADMISSIONS`


[(129,)]There are 129 rows in the ADMISSIONS table.

> Finished chain.

'There are 129 rows in the ADMISSIONS table.'

In [30]:
# query 2
agent_executor.run("What is the frequency of ethnicities?")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


ADMISSIONS, BuildVersion, ErrorLog
Invoking: `sql_db_schema` with `ADMISSIONS`



CREATE TABLE [ADMISSIONS] (
	row_id INTEGER NOT NULL,
	subject_id INTEGER NOT NULL,
	hadm_id INTEGER NOT NULL,
	admittime DATETIME2 NOT NULL,
	dischtime DATETIME2 NOT NULL,
	deathtime DATETIME2 NULL,
	admission_type NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	admission_location NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	discharge_location NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	insurance NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	language NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	religion NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	marital_status NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	ethnicity NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	edregtime DATETIME2 NULL,
	edouttime DATETIME2 NULL,
	diagnosis NVARCHAR(150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	hospital_expire_flag NVARCHAR(150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	has_chartevents_data NVARCHAR(150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
)

/*
3 rows from ADMISSIONS table:
row_id	subject_id	hadm_id	admittime	dischtime	deathtime	admission_type	admission_location	discharge_location	insurance	language	religion	marital_status	ethnicity	edregtime	edouttime	diagnosis	hospital_expire_flag	has_chartevents_data
12258	10006	142345	2164-10-23 21:09:00	2164-11-01 17:15:00	None	EMERGENCY	EMERGENCY ROOM ADMIT	HOME HEALTH CARE	Medicare	None	CATHOLIC	SEPARATED	BLACK/AFRICAN AMERICAN	2164-10-23 16:43:00	2164-10-23 23:00:00	SEPSIS	0	1
12263	10011	105331	2126-08-14 22:32:00	2126-08-28 18:59:00	2126-08-28 18:59:00	EMERGENCY	TRANSFER FROM HOSP/EXTRAM	DEAD/EXPIRED	Private	None	CATHOLIC	SINGLE	UNKNOWN/NOT SPECIFIED	None	None	HEPATITIS B	1	1
12265	10013	165520	2125-10-04 23:36:00	2125-10-07 15:13:00	2125-10-07 15:13:00	EMERGENCY	TRANSFER FROM HOSP/EXTRAM	DEAD/EXPIRED	Medicare	None	CATHOLIC	None	UNKNOWN/NOT SPECIFIED	None	None	SEPSIS	1	1
*/
Invoking: `sql_db_query` with `SELECT ethnicity, COUNT(*) AS frequency FROM ADMISSIONS GROUP BY ethnicity ORDER BY frequency DESC LIMIT 10`


Error: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Incorrect syntax near 'LIMIT'. (102) (SQLExecDirectW)")
[SQL: SELECT ethnicity, COUNT(*) AS frequency FROM ADMISSIONS GROUP BY ethnicity ORDER BY frequency DESC LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)
Invoking: `sql_db_query_checker` with `SELECT ethnicity, COUNT(*) AS frequency FROM ADMISSIONS GROUP BY ethnicity ORDER BY frequency DESC OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY`


SELECT ethnicity, COUNT(*) AS frequency
FROM ADMISSIONS
GROUP BY ethnicity
ORDER BY frequency DESC
OFFSET 0 ROWS
FETCH NEXT 10 ROWS ONLY
Invoking: `sql_db_query` with `SELECT ethnicity, COUNT(*) AS frequency FROM ADMISSIONS GROUP BY ethnicity ORDER BY frequency DESC OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY`


[('WHITE', 86), ('HISPANIC/LATINO - PUERTO RICAN', 15), ('UNKNOWN/NOT SPECIFIED', 11), ('BLACK/AFRICAN AMERICAN', 7), ('OTHER', 3), ('HISPANIC OR LATINO', 2), ('ASIAN', 2), ('AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE', 2), ('UNABLE TO OBTAIN', 1)]The frequency of ethnicities in the database is as follows:

- WHITE: 86
- HISPANIC/LATINO - PUERTO RICAN: 15
- UNKNOWN/NOT SPECIFIED: 11
- BLACK/AFRICAN AMERICAN: 7
- OTHER: 3
- HISPANIC OR LATINO: 2
- ASIAN: 2
- AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE: 2
- UNABLE TO OBTAIN: 1

> Finished chain.

'The frequency of ethnicities in the database is as follows:\n\n- WHITE: 86\n- HISPANIC/LATINO - PUERTO RICAN: 15\n- UNKNOWN/NOT SPECIFIED: 11\n- BLACK/AFRICAN AMERICAN: 7\n- OTHER: 3\n- HISPANIC OR LATINO: 2\n- ASIAN: 2\n- AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE: 2\n- UNABLE TO OBTAIN: 1'